# Docker Compose Environment Variables
# Скопируйте этот файл как .env в корень проекта для использования с docker-compose

# Database Configuration
DATABASE__USER=postgres
DATABASE__PASSWORD=postgres
DATABASE__DB_NAME=parser_kucoin
DATABASE__PORT=5432
DATABASE__HOST=postgres

# RabbitMQ Configuration
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Redis Configuration
REDIS_PORT=6379
REDIS_HOST=redis

# Application Configuration
APP_PORT=8000

# KuCoin API (добавьте в settings/prod.env)
KUCOIN__API_KEY=secret-key
KUCOIN__API_SECRET=secret-key-secret
KUCOIN__API_PASSPHRASE=secret-passphrase


# Telegram api
TG__API_ID=api-id
TG__API_HASH=api-hash
TG__PHONE=phone-number

# Logging
LOGGING__LEVEL=INFO